                    <div class="row-fluid">
                        <div class="span6">
                            <!-- block -->
                            <div class="block">
                                <div class="navbar navbar-inner block-header">
                                    <div class="muted pull-left">Users</div>
                                    <div class="pull-right"><span class="badge badge-info"><%= @users.count %></span>

                                    </div>
                                </div>
                                <div class="block-content collapse in">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Username</th>
                                                <th>Hotspots</th>
                                                <th>Suspend</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                          <% @users.each do |user| %>
                                            <tr>
                                                <td><%= user.id %></td>
                                                <td><%= user.email %></td>
                                                <td><%= user.hotspots.count %></td>
                                                <td>
                                                  <% if user.suspended? %>
                                                  <%= button_to "Un-Suspend", suspension_path(user.id), { class: 'btn btn-small', id: "suspend_#{user.id}", remote: true }%>
                                                  <% else %>
                                                  <%= button_to "Suspend", suspension_path(user.id) ,{ class: 'btn btn-small', id: "suspend_#{user.id}", remote: true} %>
                                                  <% end %>
                                                </td>
                                            </tr>
                                          <% end %>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- /block -->
                        </div>
                        <div class="span6">
                            <!-- block -->
                            <div class="block">
                                <div class="navbar navbar-inner block-header">
                                    <div class="muted pull-left">Hotspots</div>
                                    <div class="pull-right"><span class="badge badge-success"><%= Hotspot.count %></span>

                                    </div>
                                </div>
                                <div class="block-content collapse in">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Hotspot</th>
                                                <th>Date</th>
                                                <th>User</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% @hotspots.each do |hotspot| %>
                                            <tr>
                                                <td><%= hotspot.id %></td>
                                                <td><%= hotspot.name %></td>
                                                <td><%= hotspot.created_at.strftime("%m/%d/%Y") %></td>
                                                <td><%= hotspot.editorships.first.user.email %></td>
                                            </tr>
                                            <% end %> 
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- /block -->
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span6">
                            <!-- block -->
                            <div class="block">
                                <div class="navbar navbar-inner block-header">
                                    <div class="muted pull-left">Landing Pages</div>
                                    <div class="pull-right"><span class="badge badge-important"><%= Landing.count %></span>

                                    </div>
                                </div>
                                <div class="block-content collapse in">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Landing</th>
                                                <th>Date</th>
                                                <th>Hotspot</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% @landings.each do |landing| %>
                                            <tr>
                                                <td><%= landing.id %></td>
                                                <td><%= landing.title %></td>
                                                <td><%= landing.created_at.strftime("%m/%d/%Y") %></td>
                                                <td><%= landing.hotspot.name %></td>
                                            </tr>
                                            <% end %>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- /block -->
                        </div>
                        <div class="span6">
                            <!-- block -->
                            <div class="block">
                                <div class="navbar navbar-inner block-header">
                                    <div class="muted pull-left">Tickets</div>
                                    <div class="pull-right"><span class="badge badge-warning"><%= Ticket.count %></span>
                                    </div>
                                </div>
                                <div class="block-content collapse in">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>Ticket</th>
                                                <th>User</th>
                                                <th>Date</th>
                                                <th>Resolved</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% @tickets.each do |ticket| %>
                                            <tr>
                                                <td><%= link_to ticket.subject, user_ticket_path(ticket.user, ticket) %></td>
                                                <td><%= ticket.user.try(:email) %></td>
                                                <td><%= ticket.created_at.strftime("%m/%d/%Y") %></td>
                                                <td><%= "No" if !ticket.resolved? %></td>
                                            </tr>
                                            <% end %>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- /block -->
                        </div>
                    </div>
                    <div class="row-fluid">
                    </div>
                </div>
            </div>
            <hr>
        </div>