<!DOCTYPE html>
<html>
<head>
  <title>Admin Dashboard</title>
  <%= stylesheet_link_tag    "admin/dashboard", :media => "all" %>
  <%= stylesheet_link_tag "admin/bootstrap", :media => "all" %>
  <%= stylesheet_link_tag "admin/bootstrap-responsive", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/admin/header' %>
        <div class="container-fluid">
            <div class="row-fluid">
                <%= render 'layouts/admin/sidebar' %>
                <!--/span-->
                <div class="span9" id="content">
                    <div class="row-fluid">
                        <%= render 'layouts/admin/flash' %>
                      </div>
                  
  <%= yield %>
</div>
</body>
</html>
