<div class="control-group">
  <%= f.label :name, 'Hotspot Name' %>
  <div class="controls">
    <%= f.text_field :name %>
  </div>
</div>

<div class="control-group">
  <%= f.label :category, 'Business Category' %>
  <div class="controls">
    <%= f.select :category, Hotspot::CATEGORIES %>
  </div>
</div>

<%= f.fields_for :address do |builder| %>
  <%= render 'addresses/fields', :f => builder %>
<% end %>

<div class="control-group">
  <div class="controls">
    <%= f.check_box :terms_of_service %>
    <%= f.label :terms_of_service, 'Accept Hotspot Terms and Conditions', :class => 'checkbox inline' %>
  </div>
</div>

