<% content_for :page_title, 'Welcome to the WiFi-K9 Network!' %>

<p class="create_description">
  By creating your own WiFi-K9 Hotspot you can offer free and secure internet
  access, while broadcasting information about your company or your passions.
  Best of all, WiFi-K9 will never charge you for using our service!
</p>

<div class="not_current_user">
  If you are not <%= current_user.email %>,
  <%= link_to 'log out now', destroy_user_session_path, method: :delete %>.
</div>

<div class="row">
  <div class="span12">
    <%= simple_form_for @hotspot, :html => { :class => 'form-horizontal' } do |f| %>
      <%= render 'hotspots/fields', :f => f %>
      <%= f.button :submit %>
    <% end %>
  </div>
</div>

