<%= content_for :page_title, @hotspot.name %>

<%= render 'hotspots/menu', :hotspot => @hotspot, :editorship => @editorship %>
<div class="row">
  <div class="span8">
    <h3>Landing Pages</h3>
    <% if @hotspot.landings.empty? %> <!-- This checks if there are existing landing pages. Right now we only allow 1 per hotspot -->
     <%= link_to 'Create a Landing Page', new_hotspot_landing_path(@hotspot) %>
    <% else %>
     <%= render @hotspot.landings %>
    <% end %>
  </div>
  <div class="span4">
    <h3>Editors</h3>
    <%= render 'hotspots/editors', :hotspot => @hotspot %>
  </div>
</div>

