<%= content_for :page_title, @hotspot.name %>

<div class="row">
  <div class="span8">
    <h3>Landing Pages</h3>
    <%= render @hotspot.landings %>
    <%= link_to 'Create a Landing Page', new_hotspot_landing_path(@hotspot) %>
  </div>
  <div class="span4">
    <%= render 'hotspots/editors', :editors => @hotspot.users %>
    <%= render 'hotspots/editorships_form' %>
  </div>
</div>

