<%= content_for :page_title, @hotspot.name %>

<div class="row">
  <div class="span8">
    <h3>Landing Pages</h3>
    <% @hotspot.landings.each do |landing| %>
      <div class="landing container">
        <h4 class="landing-title"><%= landing.title %></h4>
        <div class="container landing-markup"><%= landing.markup.html_safe %></div>
      </div>
    <% end %>
    <div class="container">
      <%= link_to 'Create a Landing Page', new_hotspot_landing_path(@hotspot) %>
    </div>
  </div>
  <div class="span4">
    <h4>Editors</h4>
    <ul>
      <% @hotspot.users.each do |editor| %>
        <li class="editor"><%= editor.email %></li>
      <% end %>
    </ul>
  </div>
</div>

