<%= content_for :page_title, @hotspot.name %>

<div class="row">
  <div class="span8">
    <h3>Landing Pages</h3>
    <%= render @hotspot.landings %>
    <div>
      <%= link_to 'Create a Landing Page', new_hotspot_landing_path(@hotspot) %>
    </div>
    <div>
      <% if 1 < @hotspot.admins.count %>
        <%= link_to 'Leave this Hotspot', hotspot_editorship_path(@hotspot, @editorship), :method => :delete %>
      <% end %>
    </div>
  </div>
  <div class="span4">
    <%= render 'hotspots/editors', :hotspot => @hotspot %>
    <div><%= link_to 'Manage Editors', hotspot_editorships_path(@hotspot) %></div>
  </div>
</div>

